
.container{
  background-repeat: no-repeat;
  height: 90vh;
  width: 100vw;
  background-color:black;
  background-image: url("../img/tecno.jpg");
  background-size: 100%;

}
.cont{
  font-size: 10px;
  color: black;
  background-color: white;

}
.pp{
  font-size:40px ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  margin-left: 0px;
  
}
.pp:hover,
.pp:focus{
  transition: 1s;
  color: azure;
  box-shadow: 0 0.5em 1em -0.5em white;
  
}
.com{
  height: 120px;
  margin-left: 0px;
}
.moc{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 120px;
  margin-top: -100px;
  font-size: 30px;
}


