.home_cotainer{
   color: black;
 
}
/* .img{
  margin-top: 0px;
  margin-left: 1200px;
  height: 500px;
  width: 500px;
  
  
} */
.tran{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.gmii{
  height: 6.00px;
}



